<!doctype html>
<html>
<body>
<p>
  Welcome <em>{{firstName}}</em>,
</p>
<p>
  We are excited to have you! The Loyalty Savings team is thrilled that you want to give our website a whirl,
  but first you must confirm your account. <strong>Click the URL below to start saving.</strong>
</p>
<p>
  <a href="{{accountConfirmUrl}}">Click Here To Confirm</a>
  <br/>
  If by some chance you cannot click the URL above, don't worry! Just copy the link below into your browser URL bar,
  and hit Go. <em>We'll take care of the rest!</em>
</p>
<pre>
  {{accountConfirmUrl}}
</pre>
<p>
  Sincerely,
  <br/>
  Your Friends @ Loyalty Savings
</p>
<p>
  <br><br>
  PS:
  <br>
  Here are some deets in case you need them later.<br>
  User Name: {{userName}}<br>
  E-Mail: {{userEmail}}<br>
  Our URL: {{ourURL}}<br>
</p>

</body>
</html>
